# Python junk
__pycache__/
*.py[cod]

# Virtual envs
venv/
.env/

# Build artifacts
build/
dist/
*.egg-info/
*.exe

# Config and intermediate files
*.log
*.csv
*.lin
configuration.txt

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
