# Python
__pycache__/
*.py[cod]

# Virtual env
venv/
.env/

# Build tools
build/
dist/
*.egg-info/
*.spec
*.exe

# Data / config
*.csv
*.pbn
*.lin
configuration.txt

# Logs and temp
*.log

# IDEs
.vscode/
.idea/

# OS clutter
.DS_Store
Thumbs.db
