# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Packaging stuff
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Logs and junk
*.log
.DS_Store
